<!DOCTYPE html>
<html>
<head>
  <title>HelloWorldApp</title>
</head>
<body>
<table width="100%" align="center">
  <tr>
    <td align="center">
      <h1>HELLO WORLD!</h1>
      <p>Glad to see you!</p>
    </td>
  </tr>
  <tr>
    <td align="center"><%=image_tag("earth.jpg", alt: "Earth")%></td>
  </tr>
  <tr>
    <td align="center"><br/><br/><%=image_tag("rails.png", alt: "Rails Logo", mouseover: "green_rails.png")%></td>
  </tr>
</table>

</body>
